app/code/local/O2TI/AdvanceApi/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="salesOrderPaymentEntity">
                <xsd:sequence>
                    <xsd:element name="moip_ambiente" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_pay" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_order_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_installments" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_first6" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_last4" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_href_boleto" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_linecode_boleto" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_expiration_boleto" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_namebank_trans" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_urlbank_trans" type="xsd:string" minOccurs="0" />
                    <xsd:element name="moip_expiration_trans" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>